.footer {
	background-color: #F3F4F5;
    padding: $spacing-y 0;

	color: #5F6371;
    font-size: 1rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
