.header {
	z-index: 10;
	position: sticky;
	top: 0;
	height: $header-height;
	background-color: #0D1931;
	color: white;

    &__inner {
        display: flex;
        align-items: center;
		height: 100%;
    }

	&__left {
		width: $left-column-width;
	}

	&__logo {
		svg {
			margin-right: 8px;
		}
	}

	&__content {
		//margin-left: $layout-horizontal-gap;
	}
}
