.nav {
    &__menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #0D1931;

		ul {
            display: flex;
		}
    }

    &__link {
        display: block;

		color: rgba(#fff, 0.8);
        font-size: 1rem;
        text-decoration: none;
        white-space: nowrap;
    }

    &__toggle {
        @include button-reset;
    }

	&__item {
		height: $header-height;
		display: flex;
		align-items: center;

		& + & {
			margin-left: 32px;
		}

		&--active {
			box-shadow: inset 0px -4px 0px $brand-color-primary;

			.nav__link {
				color: #fff;
			}
		}
	}

    @include mq-down(md) {
        &.is-open &__menu {
			display: block;

			ul {
				width: 90%;
				margin: 0 auto;
			}
        }
    }

    @include mq(md) {
        &__toggle {
            display: none;
        }

        &__menu {
            display: block;
            position: static;
            background-color: transparent;
        }
    }
}
