.page-nav {
    @include mq(lg) {
        position: sticky;
		z-index: 10;
        top: $header-height + 20px;
        margin-top: 80px;
    }

    @include mq-down(lg) {
        display: flex;
		white-space: nowrap;
		height: 100%;
    }

    &__item {
		display: flex;
		align-items: center;

        @include mq(lg) {
            & + & {
                margin-top: 4px;
            }
        }

		@include mq-down(lg) {
			& + & {
				&::before {
					display: block;
					content: '';
					width: 16px;
					height: 1px;
					margin-right: 8px;
					margin-left: 8px;
					background-color: #abaeb4;
				}	
			}
		}

        a {
            display: flex;
            align-items: center;
            padding: 8px 0;

            color: #abaeb4;
            font-weight: 500;
            text-decoration: none;

            &.is-active {
                color: $text-color;

                @include mq(lg) {
                    &::before {
                        display: block;
                        content: '';
                        width: 16px;
                        height: 2px;
                        margin-right: 8px;
                        background-color: $brand-blue;
                    }
                }
            }
        }
    }
}
