.page-nav {
    &__menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
    }

    &__link {
        display: block;
        padding: 0.5em 1em;

        color: #070810;
        font-size: 1rem;
        text-decoration: none;
        white-space: nowrap;
    }

    &__toggle {
        @include button-reset;
    }

	&__item {
		& + & {
			margin-left: 8px;
		}

		&--active {
			.nav__link {
				font-weight: bold;
			}
		}
	}

    @include mq-down(md) {
        &.is-open &__menu {
            display: block;
        }
    }

    @include mq(md) {
        &__toggle {
            display: none;
        }
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }
    }
}
