.page-nav {
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	margin-top: 80px;

	&__item {
		& + & {
			margin-top: 4px;
		}

		a {
			display: flex;
			align-items: center;
			padding: 8px 0;

			color: #ABAEB4;
			font-weight: 500;
			text-decoration: none;

			&.is-active {
				color: $text-color;
				font-weight: bold;

				&::before {
					display: block;
					content: "";
					width: 16px;
					height: 2px;
					margin-right: 8px;
					background-color: $brand-blue;
				}
			}
		}
	}
}
