---
metaTitle: "Вакцина Спутник V | Вакцины от Covid-19"
metaDescription: "Информация о вакцине Спутник V"
permalink: /{{ lang }}/sputnik-v.html
layout: vaccine
eleventyNavigation:
  key: sputnik_v
tags: article
review: 
  title: Вакцина "Спутник V"
  description: Гам-КОВИД-Вак разработана в ФГБУ «НИЦЭМ им. Н. Ф. Гамалеи» Минздрава России), является первой зарегистрированной в России вакциной от коронавируса, показавшая высокую эффективность в борьбе с опасным вирусом. В статье описана информация о побочных эффектах, противопоказаниях, принципе действия, а так же о способе получения вакцины.
---
<h1 class="u-mb1">Вакцина "Спутник V"</h1>

<h2 class="u-mb1" id="about">О вакцине</h2>

<p>
	«Спутник V» - одна из первых зарегистрированных вакцин против коронавирусной инфекции COVID-19. При разработке
	использовались современные данные о векторе аденовируса человека. Сегодня «Спутник V» принят к регистрации как
	минимум в 55 странах мира.
</p>
<p>
	Клинические испытания этой вакцины продолжаются в Российской Федерации. В нем уже приняли участие более 31 тысячи
	добровольцев. Беларусь, Индия, Венесуэла и Объединенные Арабские Эмираты тестируют третью фазу «Спутника V» на
	добровольцах.
</p>

<h2 class="u-mt2 u-mb1" id="how_it_works">Принцип действия</h2>

<p>
	Отечественные ученые создали новейшую технологическую платформу, которая позволила разработать лекарство
	биотехнологическим методом. Вакцина безопасна, так как в составе нет коронавируса. В его основе - специальные
	векторы-носители, которые включают только часть гена вируса. Иммунитет, столкнувшись с ними, начинает вырабатывать
	защитные антитела.
</p>
<p>
	О надежности «Спутник V (Гам-КОВИД-Вак)» свидетельствует наличие в нем двух компонентов, созданных на основе
	векторов аденовирусов различных серотипов. В результате чего требуется две процедуры вакцинации: сначала один
	компонент вакцины, затем второй.
</p>
<p>
	Производство антител иммунной системой начинается после первой инъекции, вторичная стимулирует защитную функцию
	иммунной системы организма, чтобы иметь длительный эффект от вакцинации. Исследования показали, что двухэтапная
	вакцинация дает иммунный ответ в 100% случаев. В то же время иммунная система тех, кто был вакцинирован до заражения
	опасным вирусом, сильнее, чем у тех, кто переболел коронавирусом.
</p>

<h2 class="u-mt2 u-mb1" id="instructions">Инструкция</h2>

<p>
	«Спутник V» (первая доза 0,5 мл) вводится в плечо - в область дельтовидной мышцы. Вторая доза вводится не менее чем
	через 14-21 день. Если нет возможности сделать прививку человеку в плечо, препарат вводят в латеральную широкую
	мышцу бедра.
</p>

<p>
	После каждого этапа вакцинации необходимо находиться под присмотром медиков в течение 30 минут.
</p>

<p class="highlight highlight--blue">
	Внимание! После вакцинации в месте укола может ощущаться легкая боль, а температура тела может подняться до 38,5
	градусов.
</p>

<h2 class="u-mt2 u-mb1" id="side_effects">Побочные эффекты</h2>

<p>
	Побочные эффекты возникают у 15% вакцинированных «Спутник V». Среди наиболее часто отмечающихся побочных эффектов:
	состояние организма как при гриппе, а именно: повышение температуры тела, озноб, головная боль, чувство усталости, а
	также мышечные боли. От легкой до средней степени тяжести побочные эффекты отмечаются в течение 24-48 часов после
	вакцинации. Некоторые пациенты жаловались на боль в месте укола и кратковременный отек.
</p>

<p>
	В некоторых случаях после приема «Спутник V» фиксируется тошнота, снижение аппетита, боль в верхней части живота.
	Реже наблюдается увеличение лимфатических узлов и аллергические реакции.
</p>

<h2 class="u-mt2 u-mb1" id="contraindications">Противопоказания вакцины «Спутник V»</h2>

Вам противопоказан препарат «Спутник V» в качестве вакцины, если у вас:

<ul>
	<li>
		повышенная чувствительность к его компонентам
	</li>
	<li>
		сильная аллергическая реакция
	</li>
	<li>
		первичный иммунодефицит
	</li>
	<li>
		обострение хронических заболеваний
	</li>
	<li>
		острые заболевания неинфекционного и инфекционного типа
	</li>
	<li>
		рак крови и онкология
	</li>
</ul>

<p class="highlight highlight--blue">
	Для справки! К вакцине следует относиться с осторожностью тем, кто страдает заболеваниями печени и почек, инсультом,
	эпилепсией, аутоиммунными заболеваниями, ишемической болезнью сердца и стенокардией.
</p>

<p>
	В случае, если пациент приходит на процедуру вакцинации с температурой выше 37 градусов, то препарат не вводят. При
	обнаружении аллергической реакции после первого этапа введение второй дозы препарата запрещено.
</p>

<p>
	Кто не может получить вакцину «Спутник V» до завершения всех испытаний? Не рекомендуется вакцинация беременным,
	планирующим беременность и кормящим женщинам, донорам яйцеклеток. Есть и возрастные ограничения: вакцинация
	запрещена детям до 18 лет. Испытания на этой возрастной группе еще не проводились. С 26 декабря 2020 года Минздрав
	России разрешил вакцинировать людей старше 60 лет.
</p>

<p class="highlight highlight--blue">
	Нужно знать! Окончательное решение о вакцинации от коронавируса во всех случаях принимает врач, который собирает
	анамнез и оценивает риски. Специалист несет ответственность за здоровье человека.
</p>

<h2 class="u-mt2 u-mb1" id="price">Цена</h2>

<p>
	В Российской Федерации граждане могут получить вакцину от коронавируса абсолютно бесплатно. Купить «Спутник V»
	самостоятельно нельзя, каждый регион получает вакцину в ограниченном количестве. Соответственно, вакцинацию проводят
	только государственные больницы.
</p>

<p>
	При этом количество препарата для вакцинации иностранцев, например туристов, Минздравом не рассчитывалось. В первую
	очередь обеспечены граждане России.
</p>

<p class="highlight highlight--green">
	Для справки! Себестоимость вакцины в России 1942 рубля. (оба компонента).
</p>

<h2 class="u-mt2 u-mb1" id="structure">Состав</h2>

<p>
	Препарат состоит из генетического материала SARS-Cov-2 и вспомогательные вещества.
</p>

<ul>
	<li>
		Оба компонента вакцины содержат ген S-вируса SARS-CoV-2. При первой вакцинации человек получает рекомбинантный
		аденовирусный вектор на основе аденовируса человека серотипа 26. При второй инъекции - серотип 5.
	</li>

	<li>
		Вспомогательные вещества: этанол 95%, полисорбат, соли, сахароза, вода, гексагидрат хлорида магния и химическое
		соединение «Трис».
	</li>
</ul>

<h2 class="u-mt2 u-mb1" id="how_and_where">Как и где сделать вакцину «Спутник V»</h2>

<ol>
	<li>
		<p>По предварительной записи </p>
		<p>Наиболее удобные способы записаться на процедуру:</p>

		<ul>
			<li>
				с использованием сайта Государственных услуг (Госуслуг)
			</li>

			<li>
				обратиться в медицинское учреждение (поликлинику) по месту жительства.
			</li>
		</ul>

		<p class="highlight highlight--green">
			Для справки! Если в клинике в настоящее время не ведется учет вакцинации против COVID -19, вы можете
			позвонить по номеру 122 (горячая линия), чтобы получить необходимую информацию.
		</p>
	</li>

	<li>
		Получить информацию с датой и временем поступления на первый этап вакцинации.

		<ul>
			<li>
				Посещение поликлиники с учетом указанного времени и даты (документы: паспорт, СНИЛС, полис ОМС ).
			</li>
			<li>

				Пройти осмотр врача (проверка температуры, визуальный осмотр).
			</li>

			<li>
				Сделайте прививку (каждая вакцина хранится при температуре ниже 0 градусов, включает 5 доз на 5
				человек).

			</li>

			<li>

				Обследование после вакцинации обязательно (в течение 30 минут вы будете находиться под наблюдением
				специалиста).
			</li>
		</ul>
	</li>

	<li class="u-mt1">
		<p>
			Пройдите регистрацию на второй этап вакцинации.
		</p>

		<p class="u-mt1 highlight highlight--green">
			Информацию о записи на второй этап вакцинации необходимо уточнить в поликлинике после получения первого
			компонента вакцины.
		</p>
	</li>
</ol>


<h2 class="u-mt2 u-mb1" id="efficiency">Эффективность вакцины «Спутник V»</h2>

<p>
	Эффективность вакцинации против коронавируса для людей от 25 до 60 лет составила 91,4%. Такой результат был
	подтвержден после того, как испытуемым была введена первая часть препарата. Подсчет проводился следующим образом: из
	22,7 тысячи участников 78 были заражены опасным вирусом. Из них 16 человек были вакцинированы «Спутником V», в
	результате ни у кого из них тяжелого течения болезни не наблюдалось. В то же время 62 из 78 привили плацебо. Из этих
	62 человек 20 перенесли коронавирус в тяжелой форме. Таким образом, можно сделать вывод - препарат полностью
	защищает организм от сложного течения болезни.
</p>

<p>
	В конце 2020 года Минздрав разрешил применение препарата гражданам старше 60 лет. Положительный эффект для этой
	группы граждан составил более 90%.
</p>

<h2 class="u-mt2 u-mb1" id="had_coronavirus">Нужна ли вакцина против коронавируса после того, как человек заболел?</h2>

<p>

	Согласно заявлениям Минздрава РФ, граждане, переболевшие коронавирусом, могут отказаться от вакцинации. Для этой
	категории лиц перед процедурой рекомендуется пройти тест на антитела. Превышение показателя lgG (более 10)
	свидетельствует о формирование защитной функции иммунной системой.
</p>

<p>
	Специалисты считают, что антитела в организме переболевших людей могут сохраняться от 2-3 месяцев до нескольких лет.
</p>

<p>
	Что касается «Спутник V», ученые считают, что иммунитет способен защитить организм до двух лет. Таким образом,
	вакцинация препаратом против вируса Эбола, технология разработки которого аналогична «Спутник V», показала именно
	такие результаты.
</p>