---
permalink: /{{ lang }}/sputnik-v.html
layout: vaccine
eleventyNavigation:
  key: sputnik_v
---

<h1 class="u-mb1">Вакцина "Спутник V"</h1>

<h2 class="u-mb1" id="about">О вакцине</h2>

<p>
«Спутник V» — первая в мире зарегистрированная вакцина на основе хорошо изученной платформы вектора аденовируса человека. Вакцина «Спутник V» уже зарегистрирована более чем в 50 странах.
</p>
<br/>
<p>
В проводимом в России пострегистрационном клиническом исследовании «Спутник V» участвуют более 31 тысячи добровольцев. Клинические испытания третьей фазы «Спутник V» проводятся в ОАЭ, Индии, Венесуэле и Беларуси.
</p>

<br/>
<p>
«Спутник V» - одна из трех вакцин в мире, эффективность которых превышает 90%. Эффективность вакцины на уровне 91,6% рассчитана на основе данных по 19 866 добровольцам, получившим и первую, и вторую инъекцию вакцины «Спутник V» или плацебо – на заключительном контрольном этапе зафиксировано 78 подтвержденных случаев COVID-19.
</p>

<br/>
<p>
РФПИ совместно с партнерами и производителями последовательно наращивают объемы производства вакцины. Стоимость одной дозы вакцины «Спутник V» для иностранных рынков составит менее 10 долларов («Спутник V» - это вакцина, предусматривающая инъекцию двух доз). Вакцину можно хранить при температуре от +2 до +8 градусов по Цельсию, что позволяет легко доставлять ее по всему миру, включая труднодоступные регионы.
</p>

<br/>
<p>
Вакцину для поставок на мировой рынок будут производить международные партнеры РФПИ в Индии, Бразилии, Китае, Южной Корее и других странах. Этот сайт создан для предоставления точной и актуальной информации о вакцине «Спутник V».
</p>

<div class="u-mt2 highlight highlight--blue">
	<b>«Спутник V»</b> - одна из трех вакцин в мире, эффективность которых превышает 90%. 
</div>

<h2 class="u-mt2 u-mb1" id="results">Результаты испытаний</h2>

<p>
РФПИ совместно с партнерами и производителями последовательно наращивают объемы производства вакцины. Стоимость одной дозы вакцины «Спутник V» для иностранных рынков составит менее 10 долларов («Спутник V» - это вакцина, предусматривающая инъекцию двух доз). Вакцину можно хранить при температуре от +2 до +8 градусов по Цельсию, что позволяет легко доставлять ее по всему миру, включая труднодоступные регионы.
</p>

<br/>
<p>
Вакцину для поставок на мировой рынок будут производить международные партнеры РФПИ в Индии, Бразилии, Китае, Южной Корее и других странах. Этот сайт создан для предоставления точной и актуальной информации о вакцине «Спутник V».
</p>