---
permalink: /{{ lang }}/sputnik-v.html
layout: vaccine
eleventyNavigation:
  key: sputnik_v
---

<h1>Спутник V</h1>

<h2 id="info">Общая информация</h2>

<p>«Спутник V» — первая в мире зарегистрированная вакцина на основе хорошо изученной платформы вектора аденовируса человека. Вакцина «Спутник V» уже зарегистрирована более чем в 50 странах.</p>

<p>Официальный сайт: <a href="https://sputnikvaccine.com/rus/">sputnikvaccine.com</a>
</p>