---
metaTitle: "Вакцина КовиВак | Вакцины от Covid-19"
metaDescription: "Информация о вакцине КовиВак, эффективность и безопасность, противопоказания и инструкция по применению"
permalink: /{{ lang }}/kovivak.html
layout: vaccine
eleventyNavigation:
  key: kovivak
tags: article
review: 
  title: Вакцина "КовиВак"
  description: Разработанная в Центре им. М. П. Чумакова РАН вакцина КовиВак является третьей зарегистрированной в России вакциной от коронавируса. Вакцина прошла доклинические испытания и поступила в гражданский оборот.
---
<h1 class="u-mb1">Вакцина "КовиВак"</h1>

<h2 class="u-mb1" id="about">О вакцине</h2>
<p>
	КовиВак - третья российская зарегистрированная вакцина от COVID-19, разработанная на основе инактивированного вируса
	производства ФГБНУ «Федеральный научный центр исследований и разработки иммунобиологических препаратов им. М. П.
	Чумакова РАН». Вакцина от коронавируса КовиВак была зарегистрирована Министерством здравоохранения РФ 20 февраля
	2021 года. 25 марта 2021 года было начато производство вакцины на площадке Центра имени Чумакова.
</p>
<p>
	Новая вакцина во время клинических испытаний на 400 добровольцах продемонстрировала высокую безопасность и
	эффективность. Директор Центра имени Чумакова, Айдар Ишмухаметов, заявил что только у 15% добровольцев не
	выработались защитные антитела. Предполагается, что это может произойти позднее.
</p>
<p>
	Широкомасштабное исследование вакцины, на 3000 добровольцах, будет происходит позднее, после этапа регистрации
	вакцины.
</p>

<h2 class="u-mt2 u-mb1" id="how_it_works">Принцип действия</h2>

<p>
	Особенностью вакцины КовиВак заключается в том, что она разработана на основе целого инактивированного коронавируса.
	Действующим веществом является антиген инактивированного коронавируса SARS-CoV-2 (штамм AYDAR-1, инактивирован
	β-пропиолактоном).
</p>
<p>
	Вирусные частицы коронавируса в составе являются “мертвыми”, они не в состояние нанести вред организму человека.
	Однако, они содержат в себе информацию о коронавирусе, и попав в организм, иммунитет человека распознает антигенный
	состав, запоминает его и формирует защиту уже от настоящего вируса COVID-19.
</p>
<p class="highlight highlight--blue">
	Как отмечают разработчики вакцины, КовиВак будет эффективно бороться и с различными мутациями COVID-19, т.к.
	действующим веществом является целый вирус, а не частички генома.
</p>

<h2 class="u-mt2 u-mb1" id="contraindications">Противопоказания</h2>

<p>
	Вакцинироваться КовиВак противопоказано беременным и женщинам при грудном вскармливание, т.к. для данной группы лиц
	не была изучена эффективность и безопасность препарата в период клинических испытаний.
</p>

<p>
	Не рекомендуется вводит вакцину при сильной аллергической реакции. Также, противопоказано вводить КовиВак при
	появление серьезных реакций после введения первого компонента вакцины. К таким реакциям относят повышение
	температуры тела выше 40 градусов, отек диаметром более 8 см, гиперемия, коллапс и шокоподобное состояние.
</p>

<h2 class="u-mt2 u-mb1" id="safety">Безопасность</h2>

<p>
	Во время клинических испытаний, КовиВак показал высокую эффективность и безопасность. Были проведены две фазы
	испытаний, суммарно в этих испытаниях получили вакцину 400 человек. Практически у всех не было каких-либо видимых
	реакций.
</p>

<p>
	Более масштабные испытания на 3000 человек будут проводиться после этапа регистрации вакцины, о результатах пока
	говорить рано.
</p>


<h2 class="u-mt2 u-mb1" id="instructions">Инструкция</h2>

<p>
	Вакцина КовиВак вводится внутримышечно (в плечо или в мышцу бедра). Объем одной дозы 0.5 мл.
</p>
<p>
	После первого этапа вакцинации необходимо записаться на повторную вакцинацию. Интервал между этапами вакцинации 2
	недели. После каждого этапа вакцинации необходимо находиться под присмотром медиков в течение 30 минут.
</p>

<p class="highlight highlight--blue">
	Внимание! После вакцинации в месте укола может ощущаться легкая боль, а температура тела может подняться до 38,5
	градусов.
</p>

<h2 class="u-mt2 u-mb1" id="structure">Состав</h2>

<p>
	Действующим веществом в препарате является антиген инактивированного коронавируса SARS-CoV-2 (штамм AYDAR-1,
	инактивирован β-пропиолактоном). Вспомогательным веществом служит алюминия гидроксид и фосфатный буферный раствор.
</p>

<p>
	Доза вакцины выпускается в ампулах по 0,5 мл. Необходимая температура хранения от +2 до +8°С. Срок годности - 6
	месяцев.
</p>