<footer class="footer" role="contentinfo">
	<div class="footer__inner container">
		<span>&copy; {{ build.timestamp | dateToFormat('yyyy') }} Вакцины от Covid-19 </span>
		<div>
			Разработали:  
			<a href="http://github.com/maxboeck/eleventastic">@rimlin</a>
			и 
			<a href="http://github.com/maxboeck/eleventastic">@freeman_116</a>
		</div>
	</div>
</footer>