<header class="header" role="banner">
	<div class="header__inner container">
		<div class="header__left">
			<div class="header__logo">
				{% icon "logo" %}
				Вакцины от Covid-19
			</div>
		</div>
		<div class="header__content pull-right">
			{% include "partials/navigation.njk" %}
		</div>
	</div>
</header>