<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            Вакцины Covid19
        </div>
		{% include "partials/navigation.njk" %}
    </div>
</header>